* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: calibri;

}

header {
    //background-color: beige;
    width: 100%;
    clear: both;
    content: '';

    .menu {
        width: 1000px;
        height: 90px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: auto;
                width: 200px;
                object-fit: contain;
                padding: 10px;
            }
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                flex-direction: row;
                margin: 0;

                li {
                    list-style: none;
                    padding: 0px 15px;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        font-size: 20px;
                        color: rgb(37, 37, 37);

                        &:hover {
                            color: rgb(228, 129, 255);
                        }
                    }
                }
            }
        }

        .carrito {
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 25px;
                color: black;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}

footer {
    height: 300px;
    width: 100%;
    background-color: rgb(54, 54, 54);

    .listas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin: 0 auto;
        padding-top: 40px;

        .bloque {
            h3 {
                font-size: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: rgb(211, 211, 211);
                text-transform: uppercase;
                text-align: center;
            }

            ul {
                li {
                    list-style: none;
                    text-align: center;
                    color: rgb(134, 133, 133);
                    font-weight: bold;
                    padding: 8px 0;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: rgb(134, 133, 133);
                        font-weight: bold;
                        padding: 8px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// INDEX
.banner {
    background-color: rgb(37, 37, 37);
    object-fit: contain;
    height: 50px;

    span {
        color: white;

        p {
            text-align: center;
            padding-top: 15px;

            .fa-bolt {
                color: rgb(253, 186, 0);

            }
        }
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    .bloque {
        height: 70px;
        align-items: center;
        justify-content: center;
        padding-inline: 30px;
        display: flex;

        .icono {
            height: 70px;
            width: 25px;
            display: flex;
            justify-content: flex-start;

        }

        .text {
            h4 {
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            p {
                color: rgb(168, 168, 168);
            }
        }
    }
}

.productos {
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    #tarjetas {
        display: flex;
        justify-content: space-around;
    }

    .card {
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        margin-right: 20px;
        height: 350px;
        width: 250px;
        padding: 20px;
        padding-bottom: 40px;
        object-fit: contain;
        border: solid 1px black;
        box-shadow: 5px 5px 5px rgb(128, 128, 128);

        img {
            align-items: center;
            align-self: center;
            align-content: center;
            justify-content: center;
            height: 200px;
        }

        h5 {
            font-size: 28px;
        }


    }
}


// CARRITO

#carro {
    height: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    .tarjeta-carrito {
        display: flex;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;

        .imagen {
            img {
                height: 60px;
                width: 60px;
                object-fit: cover;
            }
        }

        div {
            display: flex;
            align-items: center;
        }

        
    }
    h1 {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
    }
}